<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FreeCRM Application Automation Test Suite">
    <test name="FreeCRM Application Tests">
         <classes>
             <class name="testcases.ContactsPageTest"/>
             <class name="testcases.HomePageTest"/>
             <class name="testcases.LoginPageTest"/>
       
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->
